beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
idna==2.10
jsonlines==1.2.0
lm-dataformat==0.0.8
numpy==1.19.2
pandas==1.1.2
pkg-resources==0.0.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.48.2
urllib3==1.25.10
uspto-patent-data-parser @ git+https://github.com/cfoster0/uspto_patent_data_parser@7c01e9e2a826a530c53c67b35f88c0e41fc58cde
zstandard==0.14.0
